Repository cbarlin/advanced-record-utils: changes, and which Codecov flags are due for each by the changed paths.
All: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

codecov.yml:

codecov:
  strict_yaml_branch: 'main'
coverage:
  range: 60..80
  round: down
  precision: 2
component_management:
  individual_components:
    - component_id: p_core
      name: 'Processor core'
      paths:
        - 'aru-processor-core/**'
    - component_id: p_main
      name: 'Processor Implementation'
      paths:
        - 'advanced-record-utils-processor/**'
    - component_id: t_core_depd
      name: 'Test - core dependency'
      paths:
        - 'utils-tests/a_core_dependency/**'
    - component_id: t_infer_xml
      name: 'Test - infer XML'
      paths:
        - 'utils-tests/b_infer_xml/**'
    - component_id: t_type_alias
      name: 'Test - type alias'
      paths:
        - 'utils-tests/b_type_alias/**'
    - component_id: t_odd_types
      name: 'Test - odd types'
      paths:
        - 'utils-tests/c_odd_types/**'
    - component_id: t_lang
      name: 'Test - commons lang'
      paths:
        - 'utils-tests/c_deeply_nested_commons_lang/**'
    - component_id: t_nested
      name: 'Test - deeply nested structure'
      paths:
        - 'utils-tests/c_deeply_nested_structure/**'
    - component_id: t_eclipse_collections
      name: 'Test - Eclipse Collections'
      paths:
        - 'utils-tests/d_eclipse_collections/**'
    - component_id: t_core_dept
      name: 'Test - core dependent'
      paths:
        - 'utils-tests/a_core_dependent/**'

Build .adoc Files for GitHub Pages from f49a9b452b31f96432186800641f314d30d02f2b
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.10.1
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.10.2-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add ability to set/add sub-builder directly
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddOtherBuilderFromLibrary.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddOtherBuilderFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddOtherBuilderAdderFromLibrary.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddOtherBuilderAdderFromRecord.java
Due: Processor Implementation

Add ability to set/add sub-builder directly (#202)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddOtherBuilderFromLibrary.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddOtherBuilderFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddOtherBuilderAdderFromLibrary.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddOtherBuilderAdderFromRecord.java
Due: Processor Implementation

Add support for generating JFR events
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/AruAbstractEvent.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordBuild.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordDiffCreation.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordXmlSerialise.java
  advanced-record-utils-annotations/src/main/java/module-info.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddPreBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/DiffFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/results/EagerStandardHasChangedCheck.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/BuilderClassCreatorVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddPlainBuild.java
  aru-processor-core/src/main/java/module-info.java
  docs/usage/index.adoc
  docs/usage/jfr.adoc
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/RootItem.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/RootItem.java
  utils-tests/c_deeply_nested_structure/src/main/java/module-info.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/OddTypeBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
Due: Processor core, Processor Implementation, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections

PR comments
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/AruAbstractEvent.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordBuild.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordDiffCreation.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordXmlSerialise.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/DiffFactory.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddPlainBuild.java
  docs/usage/jfr.adoc
  utils-tests/pom.xml
Due: Processor core, Processor Implementation

Add support for generating JFR events (#203)
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/AruAbstractEvent.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordBuild.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordDiffCreation.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordXmlSerialise.java
  advanced-record-utils-annotations/src/main/java/module-info.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddPreBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/DiffFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/results/EagerStandardHasChangedCheck.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/BuilderClassCreatorVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddPlainBuild.java
  aru-processor-core/src/main/java/module-info.java
  docs/usage/index.adoc
  docs/usage/jfr.adoc
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/RootItem.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/RootItem.java
  utils-tests/c_deeply_nested_structure/src/main/java/module-info.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/OddTypeBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
  utils-tests/pom.xml
Due: Processor core, Processor Implementation, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections

Build .adoc Files for GitHub Pages from 1ef60819103ba1330a4ab1b5404c2099e1bc6273
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.11.0
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.11.1-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

JFR caputres class over String, Thread details
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/AruAbstractEvent.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordBuild.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordDiffCreation.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/jfr/RecordXmlSerialise.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/DiffFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/BuilderClassCreatorVisitor.java
  docs/usage/jfr.adoc
  github_build.sh
Due: Processor core, Processor Implementation

[ci skip] Prepare release 0.11.1
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.11.2-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Dependency updates
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNullCollectionNeverNull.java
  github_build.sh
  pom.xml
Due: Processor Implementation

[ci skip] Prepare release 0.11.2
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.11.3-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent
