Repository cbarlin/advanced-record-utils: changes, and which Codecov flags are due for each by the changed paths.
All: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add references to the root element
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
Due: Processor core

Add before build, builder extensions
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddExtensionMethods.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddPreBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/GetterOptional.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ExtensionMethod.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordExtensionFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordWithBeforeBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordWithExtensions.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wiring/InjectModuleProvider.java
  advanced-record-utils-processor/src/main/java/module-info.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/ToBeBuilt.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/AnnotationSpecComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/TypeNameComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  utils-tests/a_core_dependent/src/main/java/io/github/cbarlin/aru/tests/a_core_dependent/GeeBuilder.java
  utils-tests/a_core_dependent/src/main/java/io/github/cbarlin/aru/tests/a_core_dependent/MyRecordG.java
  utils-tests/a_core_dependent/src/main/java/module-info.java
  utils-tests/a_core_dependent/src/test/java/io/github/cbarlin/aru/tests/a_core_dependent/BasicTests.java
Due: Processor core, Processor Implementation, Test - core dependent

Add before build, builder extensions (#123)
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddExtensionMethods.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddPreBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/GetterOptional.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ExtensionMethod.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordExtensionFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordWithBeforeBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/RecordWithExtensions.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wiring/InjectModuleProvider.java
  advanced-record-utils-processor/src/main/java/module-info.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/ToBeBuilt.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/AnnotationSpecComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/TypeNameComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  utils-tests/a_core_dependent/src/main/java/io/github/cbarlin/aru/tests/a_core_dependent/GeeBuilder.java
  utils-tests/a_core_dependent/src/main/java/io/github/cbarlin/aru/tests/a_core_dependent/MyRecordG.java
  utils-tests/a_core_dependent/src/main/java/module-info.java
  utils-tests/a_core_dependent/src/test/java/io/github/cbarlin/aru/tests/a_core_dependent/BasicTests.java
Due: Processor core, Processor Implementation, Test - core dependent

[ci skip] Prepare release 0.6.7
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.8-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add documentation for BeforeBuild and BuilderExtension
  docs/generated-code/usage/beforebuild.adoc
  docs/generated-code/usage/builderextension.adoc
  docs/usage/beforebuild.adoc
  docs/usage/builderextension.adoc
  docs/usage/imp.adoc
  docs/usage/index.adoc
Due: none

PR comments
  docs/usage/beforebuild.adoc
  docs/usage/builderextension.adoc
Due: none

Add documentation for BeforeBuild and BuilderExtension (#126)
  docs/generated-code/usage/beforebuild.adoc
  docs/generated-code/usage/builderextension.adoc
  docs/usage/beforebuild.adoc
  docs/usage/builderextension.adoc
  docs/usage/imp.adoc
  docs/usage/index.adoc
Due: none

Build .adoc Files for GitHub Pages from 5a21227f34695c1c0d9eee40acbbae0daaf1ce0a
  .gitignore
  README.html
  index.html
Due: none

Dependency updates
  pom.xml
Due: none

Add delayNestedBuild option
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddFluentAdderFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddField.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddFluentSetterFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddGetter.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddSetter.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddField.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddSetter.java
  docs/options/aru-builder/generation.adoc
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/RootItem.java
Due: Processor core, Processor Implementation, Test - deeply nested structure

Add delayNestedBuild option (#128)
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddFluentAdderFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddField.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddFluentSetterFromRecord.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddGetter.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/delayed/AddSetter.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddField.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/builder/AddSetter.java
  docs/options/aru-builder/generation.adoc
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/RootItem.java
Due: Processor core, Processor Implementation, Test - deeply nested structure

Build .adoc Files for GitHub Pages from 307d885cc00ef659fae2263665ab0e55524a2903
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.6.8
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.9-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Fix tests
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/CollectionsTests.java
Due: Test - Eclipse Collections

More test fixes (hopefully)
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/CollectionsTests.java
  utils-tests/d_eclipse_collections/src/test/resources/NonNullableImmutableCollectionB.xml
Due: Test - Eclipse Collections

PR feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/PrimitiveHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipseMutableList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipsePrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/set/EclipseMutableSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/set/EclipsePrimitiveSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/JustListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/ListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/queue/QueueCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/ConcurrentSkipListSetHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/CopyOnWriteArraySetHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/HashSetCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/LinkedHashSetCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/TreeSetCollectionHandler.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/CollectionsTests.java
Due: Processor Implementation, Test - Eclipse Collections

PR feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/PrimitiveHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/set/EclipsePrimitiveSet.java
Due: Processor Implementation

[ci skip] Prepare release 0.7.0
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.7.1-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Update dependencies
  deployment.sh
  pom.xml
Due: none

[ci skip] Prepare release 0.7.1
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.7.2-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Fix build
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/merger/utils/MergeOptionalPrimitives.java
Due: Processor Implementation

PR Comments
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/validation/AvajeValidatedBuild.java
Due: Processor Implementation

Version updates
  pom.xml
Due: none

[ci skip] Prepare release 0.7.2
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.7.3-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add support for "valueclasses" library.
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/TypeAliasComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteTypeAlias.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/Branching.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/NonCollectionXmlVisitor.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLibraryLoaded.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLocalDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOffsetDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOtherProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteUUID.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteZonedDatetime.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/RecordTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/types/analyser/BasicAnalyser.java
  pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/SomeRecord.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsInt.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsLong.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsString.java
  utils-tests/b_type_alias/src/main/java/module-info.java
  utils-tests/b_type_alias/src/test/java/io/github/cbarlin/aru/tests/b_types_alias/XmlTests.java
Due: Processor core, Processor Implementation, Test - type alias

Add support for "valueclasses" library. (#142)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/TypeAliasComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteTypeAlias.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/Branching.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/NonCollectionXmlVisitor.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLibraryLoaded.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLocalDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOffsetDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOtherProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteUUID.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteZonedDatetime.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/RecordTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/types/analyser/BasicAnalyser.java
  pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/SomeRecord.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsInt.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsLong.java
  utils-tests/b_type_alias/src/main/java/io/github/cbarlin/aru/tests/b_types_alias/ValueClsString.java
  utils-tests/b_type_alias/src/main/java/module-info.java
  utils-tests/b_type_alias/src/test/java/io/github/cbarlin/aru/tests/b_types_alias/XmlTests.java
Due: Processor core, Processor Implementation, Test - type alias

Update github actions
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/pages.yml
Due: none

Add "copy" method from optional instance
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/BuilderAdditionalCopies.java
  utils-tests/a_core_dependent/src/test/java/io/github/cbarlin/aru/tests/a_core_dependent/BasicTests.java
Due: Processor Implementation, Test - core dependent

Add "copy" method from optional instance (#143)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/BuilderAdditionalCopies.java
  utils-tests/a_core_dependent/src/test/java/io/github/cbarlin/aru/tests/a_core_dependent/BasicTests.java
Due: Processor Implementation, Test - core dependent

Path conditions:
  Processor core: any of: aru-processor-core/**
  Processor Implementation: any of: advanced-record-utils-processor/**
  Test - core dependency: any of: utils-tests/a_core_dependency/**
  Test - infer XML: any of: utils-tests/b_infer_xml/**
  Test - type alias: any of: utils-tests/b_type_alias/**
  Test - odd types: any of: utils-tests/c_odd_types/**
  Test - commons lang: any of: utils-tests/c_deeply_nested_commons_lang/**
  Test - deeply nested structure: any of: utils-tests/c_deeply_nested_structure/**
  Test - Eclipse Collections: any of: utils-tests/d_eclipse_collections/**
  Test - core dependent: any of: utils-tests/a_core_dependent/**
