Repository cbarlin/advanced-record-utils: changes, and which Codecov flags are due for each by the changed paths.
All: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare release 0.7.3
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.7.4-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Bump versions
  pom.xml
Due: none

Handle Optional Interface fields
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddFluentSetterFromOptionalInterface.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/SkipTransientOptional.java
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/SecondLevelA.java
Due: Processor Implementation, Test - commons lang

Add test
  utils-tests/c_deeply_nested_commons_lang/src/test/java/io/github/cbarlin/aru/tests/cdncl/NestedTests.java
Due: Test - commons lang

Handle Optional Interface fields (#154)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/AddFluentSetterFromOptionalInterface.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/SkipTransientOptional.java
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/SecondLevelA.java
  utils-tests/c_deeply_nested_commons_lang/src/test/java/io/github/cbarlin/aru/tests/cdncl/NestedTests.java
Due: Processor Implementation, Test - commons lang

Add Higher Kinded J integration
  .github/actions/install-mvnd/action.yaml
  .github/workflows/build.yml
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportAnnotator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  github_build.sh
  pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/Rec2.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/RootElement.java
  utils-tests/c_hkj/src/main/java/module-info.java
  utils-tests/c_hkj/src/test/java/io/github/cbarlin/aru/tests/c_hkj/LensTests.java
  utils-tests/pom.xml
Due: Processor core, Processor Implementation

Include HKJ tests in coverage report
  z_report_module/pom.xml
Due: none

Always generate for intended type only
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportAnnotator.java
Due: Processor Implementation

Fix echo
  .github/actions/install-mvnd/action.yaml
Due: none

PR Feedback
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
Due: none

De-duplicate module declaration
  utils-tests/pom.xml
Due: none

Add missing modules to merge configuration
  z_report_module/pom.xml
Due: none

Add Higher Kinded J integration (#155)
  .github/actions/install-mvnd/action.yaml
  .github/workflows/build.yml
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportAnnotator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  github_build.sh
  pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/Rec2.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/RootElement.java
  utils-tests/c_hkj/src/main/java/module-info.java
  utils-tests/c_hkj/src/test/java/io/github/cbarlin/aru/tests/c_hkj/LensTests.java
  utils-tests/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation

Bump dependencies
  pom.xml
Due: none

[ci skip] Prepare release 0.7.4
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.7.5-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add adder support for maps
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapAdd.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapGet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/AnalysedMapComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelperFactory.java
  github_build.sh
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/MapKeyRecord.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/MapValueRecord.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableAutoMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableImmutableMapBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/MapsTest.java
Due: Processor Implementation, Test - odd types

Add test for sub records being detected
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/MapsTest.java
Due: Test - odd types

PR comments
  .coderabbit.yaml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapAdd.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapGet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/AnalysedMapComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
Due: Processor Implementation

Further comments
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/AnalysedMapComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
Due: Processor Implementation

Correct package
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
Due: Processor Implementation

Add-er support for maps (#156)
  .coderabbit.yaml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapAdd.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapGet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/AnalysedMapComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/ComponentSpecialisationFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelperFactory.java
  github_build.sh
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/MapKeyRecord.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/MapValueRecord.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableAutoMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableImmutableMapBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/MapsTest.java
Due: Processor Implementation, Test - odd types

[ci skip] Prepare release 0.8.0
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.8.1-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add optic generation to interfaces
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportInterfaceAnnotator.java
  docs/generated-code/options/aru-top-hkj.adoc
  docs/options/aru-top-general.adoc
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceImplA.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceImplB.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceTest.java
  utils-tests/c_hkj/src/test/java/io/github/cbarlin/aru/tests/c_hkj/LensTests.java
Due: Processor Implementation

PR feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportInterfaceAnnotator.java
  docs/options/aru-top-general.adoc
Due: Processor Implementation

Add optic generation to interfaces (#158)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/misc/HkjImportInterfaceAnnotator.java
  docs/generated-code/options/aru-top-hkj.adoc
  docs/options/aru-top-general.adoc
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceImplA.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceImplB.java
  utils-tests/c_hkj/src/main/java/io/github/cbarlin/aru/tests/c_hkj/SealedInterfaceTest.java
  utils-tests/c_hkj/src/test/java/io/github/cbarlin/aru/tests/c_hkj/LensTests.java
Due: Processor Implementation

Build .adoc Files for GitHub Pages from 7031696d66919e70b7671ef9451d5fdb4e1b3cf5
  .gitignore
  README.html
  index.html
Due: none

Filter references based on module exports
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/attribute/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/OptionalClassDetector.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  aru-processor-core/src/main/java/module-info.java
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/AnotherMetaAnnotation.java
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/SomeHiddenRecord.java
  utils-tests/a_core_dependency/src/test/java/io/github/cbarlin/aru/tests/a_core_dependency/BasicBuildTest.java
  utils-tests/b_type_alias/src/main/java/module-info.java
Due: Processor core, Processor Implementation, Test - core dependency, Test - type alias

PR Feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/attribute/WriteCharSequenceWithCommonsLang.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/OptionalClassDetector.java
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/AnotherMetaAnnotation.java
  utils-tests/a_core_dependency/src/test/java/io/github/cbarlin/aru/tests/a_core_dependency/BasicBuildTest.java
Due: Processor core, Processor Implementation, Test - core dependency

Filter references based on module exports (#161)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/attribute/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/OptionalClassDetector.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  aru-processor-core/src/main/java/module-info.java
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/AnotherMetaAnnotation.java
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/SomeHiddenRecord.java
  utils-tests/a_core_dependency/src/test/java/io/github/cbarlin/aru/tests/a_core_dependency/BasicBuildTest.java
  utils-tests/b_type_alias/src/main/java/module-info.java
Due: Processor core, Processor Implementation, Test - core dependency, Test - type alias

[ci skip] Prepare release 0.8.1
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.8.2-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Test migration to maven 4
  .mvn/wrapper/maven-wrapper.properties
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  mvnw
  mvnw.cmd
  output.txt
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Write namespace when writing elements
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WritePrimitiveSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/NonCollectionXmlVisitor.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLocalDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOffsetDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WritePrimitiveBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WritePrimitiveNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteUUID.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteZonedDatetime.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/package-info.java
  utils-tests/xml_util/src/main/java/io/github/cbarlin/aru/tests/xml_util/ConvertToXml.java
  utils-tests/xml_util/src/main/java/module-info.java
Due: Processor Implementation, Test - deeply nested structure

PR Feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/Branching.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteLibraryProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteOtherProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WritePrimitiveSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/NonCollectionXmlVisitor.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLocalDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOffsetDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteZonedDatetime.java
Due: Processor Implementation

Write namespace when writing elements (#164)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/Branching.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteLibraryProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteOtherProcessed.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WritePrimitiveSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/NonCollectionXmlVisitor.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteBoxedNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteCharSequenceWithCommonsLang.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteEnum.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteLocalDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOffsetDatetime.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteOptionalPrimitive.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WritePrimitiveBoolean.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WritePrimitiveNumerics.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteUUID.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/noncollections/WriteZonedDatetime.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/package-info.java
  utils-tests/xml_util/src/main/java/io/github/cbarlin/aru/tests/xml_util/ConvertToXml.java
  utils-tests/xml_util/src/main/java/module-info.java
Due: Processor Implementation, Test - deeply nested structure

[ci skip] Prepare release 0.8.2
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.8.3-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Path conditions:
  Processor core: any of: aru-processor-core/**
  Processor Implementation: any of: advanced-record-utils-processor/**
  Test - core dependency: any of: utils-tests/a_core_dependency/**
  Test - infer XML: any of: utils-tests/b_infer_xml/**
  Test - type alias: any of: utils-tests/b_type_alias/**
  Test - odd types: any of: utils-tests/c_odd_types/**
  Test - commons lang: any of: utils-tests/c_deeply_nested_commons_lang/**
  Test - deeply nested structure: any of: utils-tests/c_deeply_nested_structure/**
  Test - Eclipse Collections: any of: utils-tests/d_eclipse_collections/**
  Test - core dependent: any of: utils-tests/a_core_dependent/**
