Repository cbarlin/advanced-record-utils: changes, and which Codecov flags are due for each by the changed paths.
All: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add `setXToNull` option
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNull.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  docs/options/aru-builder/generation.adoc
  utils-tests/a_core_dependency/src/test/java/io/github/cbarlin/aru/tests/a_core_dependency/BasicBuildTest.java
  utils-tests/b_type_alias/src/test/java/io/github/cbarlin/aru/tests/b_types_alias/BuilderTests.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/SeventhLevelA.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableAutoCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableImmutableCollectionBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/CollectionsTests.java
Due: Processor core, Processor Implementation, Test - core dependency, Test - type alias, Test - odd types, Test - deeply nested structure

Self review found items
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/JustListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/SetCollectionHandler.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/ThirdLevelBFromA.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/OddTypeBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/TypesTests.java
Due: Processor Implementation, Test - odd types, Test - deeply nested structure

PR comments
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNullCollectionNeverNull.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/SetCollectionHandler.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  docs/generated-code/options/builder-generation-setnull.adoc
  docs/options/aru-builder/generation.adoc
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
Due: Processor core, Processor Implementation, Test - deeply nested structure

Final polish
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNullCollectionNeverNull.java
  docs/options/aru-builder/generation.adoc
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
Due: Processor Implementation, Test - deeply nested structure

Add `setXToNull` option (#111)
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNull.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/SetToNullCollectionNeverNull.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/JustListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/SetCollectionHandler.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  docs/generated-code/options/builder-generation-setnull.adoc
  docs/options/aru-builder/generation.adoc
  utils-tests/a_core_dependency/src/test/java/io/github/cbarlin/aru/tests/a_core_dependency/BasicBuildTest.java
  utils-tests/b_type_alias/src/test/java/io/github/cbarlin/aru/tests/b_types_alias/BuilderTests.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/SeventhLevelA.java
  utils-tests/c_deeply_nested_structure/src/main/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/ThirdLevelBFromA.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableAutoCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableImmutableCollectionBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/OddTypeBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/CollectionsTests.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/TypesTests.java
Due: Processor core, Processor Implementation, Test - core dependency, Test - type alias, Test - odd types, Test - deeply nested structure

Basic tweaks
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/validation/JakartaValidatedBuild.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/PackageUtils.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  utils-tests/c_odd_types/pom.xml
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/OddTypeBag.java
Due: Processor core, Processor Implementation, Test - odd types

[ci skip] Prepare release 0.6.2
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.3-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Delete bench.sh
  bench.sh
Due: none

Make maven build modules in parallel
  .github/workflows/build.yml
  github_build.sh
  utils-tests/pom.xml
Due: none

Make maven build modules in parallel (#114)
  .github/workflows/build.yml
  github_build.sh
  utils-tests/pom.xml
Due: none

Add support for MapStruct generation
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
  advanced-record-utils-processor/src/main/java/module-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  docs/get-started.adoc
  pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplB.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplMapper.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicMapStructTest.java
Due: Processor core, Processor Implementation, Test - Eclipse Collections

Add some documentation on our SPI Provider.
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
Due: Processor Implementation

PR Feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/BeanScopeFactory.java
  docs/get-started.adoc
  pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplMapper.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicMapStructTest.java
Due: Processor core, Processor Implementation, Test - Eclipse Collections

More PR feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/BeanScopeFactory.java
  docs/get-started.adoc
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicMapStructTest.java
Due: Processor core, Processor Implementation, Test - Eclipse Collections

Standardise property name
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddAdder.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddSetter.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelperFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullImmutableNullCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableImmutableCollectionHandler.java
Due: Processor Implementation

Add validation tests, document them
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/validation/AvajeValidatedBuild.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/ToBeBuilt.java
  docs/generated-code/options/builder-generation-validator.adoc
  docs/options/aru-builder/generation.adoc
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplA.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplB.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicAvajeValidatorTest.java
Due: Processor core, Processor Implementation, Test - Eclipse Collections

Add MapStruct support and optional integration with validating builds (#115)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-processor/pom.xml
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/AruMapStructBuilderProvider.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddAdder.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddSetter.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/validation/AvajeValidatedBuild.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelperFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullImmutableNullCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableImmutableCollectionHandler.java
  advanced-record-utils-processor/src/main/java/module-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/ToBeBuilt.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/BeanScopeFactory.java
  docs/generated-code/options/builder-generation-validator.adoc
  docs/get-started.adoc
  docs/options/aru-builder/generation.adoc
  pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplA.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplB.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/SomeImplMapper.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicAvajeValidatorTest.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/BasicMapStructTest.java
Due: Processor core, Processor Implementation, Test - Eclipse Collections

Build .adoc Files for GitHub Pages from 30f4d8537c7b07c0649b915767481074efc0e5c3
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.6.3
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.4-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Fix merging Eclipse Collections
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipseImmutableList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/set/EclipseImmutableSet.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/DependsOnRecord.java
Due: Processor Implementation, Test - Eclipse Collections

Dependency bump
  pom.xml
Due: none

Fix merging Eclipse Collections (#116)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipseImmutableList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/set/EclipseImmutableSet.java
  pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/DependsOnRecord.java
Due: Processor Implementation, Test - Eclipse Collections

[ci skip] Prepare release 0.6.4
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.5-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Dependency updates
  .github/workflows/build.yml
  .github/workflows/pages.yml
  pom.xml
Due: none

Add optional remove/retain methods
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemoveAll.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemovePredicate.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemover.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRetainAll.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/StackCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/EnumSetCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullImmutableNullCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableImmutableCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRetain.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/visitors/CollectionRecordVisitor.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/CollectionsTests.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/XmlRecordTest.java
Due: Processor core, Processor Implementation, Test - odd types, Test - Eclipse Collections

Add optional remove/retain methods (#117)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemoveAll.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemovePredicate.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRemover.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/collection/AddRetainAll.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/CollectionHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/EclipseCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/list/StackCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/EnumSetCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/set/JustSetOfEnumCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NonNullImmutableNullCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableAutoCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/wrapper/NullableImmutableCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRetain.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/PropertyConfigLoader.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/visitors/CollectionRecordVisitor.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/CollectionsTests.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/XmlRecordTest.java
Due: Processor core, Processor Implementation, Test - odd types, Test - Eclipse Collections

[ci skip] Prepare release 0.6.5
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.6-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Add rapid-start to docs
  docs/README.adoc
  docs/get-started.adoc
  docs/usage/index.adoc
  docs/usage/rapid-start.adoc
  github_build.sh
  pom.xml
Due: none

Build .adoc Files for GitHub Pages from bf40ee99d9163c72e8ff2bfbee3f431949db46a3
  .gitignore
  README.html
  index.html
Due: none

Version bumps, Java version
  .github/workflows/build.yml
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/ExecutableElementUtils.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/OptionalClassDetector.java
  deployment.sh
  github_build.sh
  pom.xml
  utils-tests/a_core_dependent/src/test/java/io/github/cbarlin/aru/tests/a_core_dependent/BasicTests.java
  utils-tests/c_deeply_nested_commons_lang/src/test/java/io/github/cbarlin/aru/tests/cdncl/NestedTests.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/DependencyTest.java
  utils-tests/xml_util/src/main/java/io/github/cbarlin/aru/tests/xml_util/ConvertToXml.java
  utils-tests/xml_util/src/main/java/module-info.java
Due: Processor core, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Improvements to generated metadata
  .coderabbit.yaml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsSettings.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/LibraryLoadedTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/RecordTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MergedMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MirrorMergingBehaviour.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MirrorOfDefaults.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/SourceTrackingAnnotationMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/StackingAnnotationMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedRecord.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/LibraryLoadedTarget.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/ProcessingTarget.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/components/TypeConverterComponent.java
  docs/usage/imp.adoc
  docs/usage/meta.adoc
  docs/usage/tcon.adoc
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/AnEnumInDep.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
Due: Processor core, Test - core dependency, Test - deeply nested structure

PR comments
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsSettings.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/LibraryLoadedTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/RecordTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MirrorOfDefaults.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedRecord.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/LibraryLoadedTarget.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/ProcessingTarget.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/components/TypeConverterComponent.java
  docs/usage/imp.adoc
  docs/usage/tcon.adoc
Due: Processor core

Improvements to generated metadata (#119)
  .coderabbit.yaml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  aru-prism-prison/src/main/java/io/github/cbarlin/aru/prism/prison/package-info.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsSettings.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/CommonsConstants.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/LibraryLoadedTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/analysers/RecordTargetAnalyser.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MergedMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MirrorMergingBehaviour.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/MirrorOfDefaults.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/SourceTrackingAnnotationMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/StackingAnnotationMirror.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedRecord.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/AnalysedType.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/LibraryLoadedTarget.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/types/ProcessingTarget.java
  docs/usage/imp.adoc
  docs/usage/meta.adoc
  docs/usage/tcon.adoc
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/AnEnumInDep.java
  utils-tests/c_deeply_nested_structure/src/test/java/io/github/cbarlin/aru/tests/c_deeply_nested_structure/NestedTests.java
Due: Processor core, Test - core dependency, Test - deeply nested structure

Build .adoc Files for GitHub Pages from 705118246fc70f0d0254c572e0b34b586b5b6b04
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.6.6
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.6.7-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Path conditions:
  Processor core: any of: aru-processor-core/**
  Processor Implementation: any of: advanced-record-utils-processor/**
  Test - core dependency: any of: utils-tests/a_core_dependency/**
  Test - infer XML: any of: utils-tests/b_infer_xml/**
  Test - type alias: any of: utils-tests/b_type_alias/**
  Test - odd types: any of: utils-tests/c_odd_types/**
  Test - commons lang: any of: utils-tests/c_deeply_nested_commons_lang/**
  Test - deeply nested structure: any of: utils-tests/c_deeply_nested_structure/**
  Test - Eclipse Collections: any of: utils-tests/d_eclipse_collections/**
  Test - core dependent: any of: utils-tests/a_core_dependent/**
