Repository cbarlin/advanced-record-utils: changes, and which Codecov flags are due for each by the changed paths.
All: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Stop needlessly rebuilding EclipseCollectionHandlers
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionComponentFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
Due: Processor Implementation

Stop needlessly rebuilding EclipseCollectionHandlers (#165)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionComponentFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
Due: Processor Implementation

Add HPPC support
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipsePrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/AbstractHppcPrimitiveHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcComponentFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcPrimitiveCollectionComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithAdd.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRemove.java
  docs/get-started.adoc
  pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableAutoCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableAutoCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableImmutableCollectionBag.java
Due: Processor Implementation, Test - Eclipse Collections

PR Comments
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/AbstractHppcPrimitiveHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveSet.java
Due: Processor Implementation

Oops, more things I missed
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  docs/get-started.adoc
Due: Processor Implementation

Add HPPC support (#166)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/StandardCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipsePrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/AbstractHppcPrimitiveHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveList.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/hppc/HppcPrimitiveSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcComponentFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcPrimitiveCollectionComponent.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithAdd.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/wither/WithRemove.java
  docs/get-started.adoc
  pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableAutoCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableAutoCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableImmutableCollectionBag.java
Due: Processor Implementation, Test - Eclipse Collections

Build .adoc Files for GitHub Pages from d72cf9c66d7fbd8c1005ebfe5553c7c3b151c5f2
  .gitignore
  README.html
  index.html
Due: none

[ci skip] Prepare release 0.8.3
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.8.4-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Build out Map handling infrastructure
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapField.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapSpecialisation.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/results/EagerMapDiffResultCreator.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/utils/MapDiffCreation.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/merger/utils/MapMerge.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandlerHelperFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/EclipseMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/hppc/HppcMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapNonEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullImmutableMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableImmutableMapHandler.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoMapBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/MapsTest.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableAutoMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableAutoMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableImmutableMapBag.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/CollectionsTests.java
Due: Processor Implementation, Test - odd types, Test - Eclipse Collections

Address PR comments
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/results/EagerMapDiffResultCreator.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/utils/MapDiffCreation.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipseListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapNonEnumHandler.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableAutoMapBag.java
Due: Processor Implementation, Test - odd types

Address more PR comments
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapNonEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullImmutableMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableImmutableMapHandler.java
Due: Processor Implementation

Hopefully final round
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapNonEnumHandler.java
Due: Processor Implementation

Nope at least one more round
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapEnumHandler.java
Due: Processor Implementation

Build out Map handling infrastructure (#174)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/Constants.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapField.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapRemove.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapSet.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/builder/map/MapSpecialisation.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/results/EagerMapDiffResultCreator.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/diff/utils/MapDiffCreation.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/merger/utils/MapMerge.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/collection/eclipse/list/EclipseListCollectionHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/DependencyClassNames.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/EclipseCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/dependencies/HppcCollectionHandlerFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandlerHelper.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/MapHandlerHelperFactory.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/EclipseMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/ImmutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutableNonPrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/eclipse/MutablePrimitiveMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/hppc/HppcMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/java/JustMapNonEnumHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NonNullImmutableMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableAutoMapHandler.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/types/maps/wrapper/NullableImmutableMapHandler.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NonNullableImmutableMapBag.java
  utils-tests/c_odd_types/src/main/java/io/github/cbarlin/aru/tests/c_odd_types/NullableAutoMapBag.java
  utils-tests/c_odd_types/src/test/java/io/github/cbarlin/aru/tests/c_odd_types/MapsTest.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableAutoMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableCollectionBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NonNullableImmutableMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableAutoMapBag.java
  utils-tests/d_eclipse_collections/src/main/java/io/github/cbarlin/aru/tests/d_eclipse_collections/NullableImmutableMapBag.java
  utils-tests/d_eclipse_collections/src/test/java/io/github/cbarlin/aru/tests/d_eclipse_collections/CollectionsTests.java
Due: Processor Implementation, Test - odd types, Test - Eclipse Collections

Minor README tweaks
  README.md
Due: none

[ci skip] Prepare release 0.9.0
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.9.1-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

PR feedback
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteCharSequence.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/elements/collections/WriteEnum.java
Due: Processor Implementation

Bump dependencies
  pom.xml
Due: none

Add support for specifying `SuppressWarnings` annotations
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsFull.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/SuppressWarningsInterfaceVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/SuppressWarningsRecordVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  docs/generated-code/options/aru-top-suppress.adoc
  docs/options/aru-top-general.adoc
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/AnotherMetaAnnotation.java
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/RootItem.java
Due: Processor core, Test - core dependency, Test - commons lang

PR feedback
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsFull.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  docs/options/aru-top-general.adoc
Due: Processor core

Add support for specifying `SuppressWarnings` annotations (#178)
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtils.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/SuppressWarningsInterfaceVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/impl/visitors/SuppressWarningsRecordVisitor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
  docs/generated-code/options/aru-top-suppress.adoc
  docs/options/aru-top-general.adoc
  utils-tests/a_core_dependency/src/main/java/io/github/cbarlin/aru/tests/a_core_dependency/hidden/AnotherMetaAnnotation.java
  utils-tests/c_deeply_nested_commons_lang/src/main/java/io/github/cbarlin/aru/tests/cdncl/RootItem.java
Due: Processor core, Test - core dependency, Test - commons lang

[ci skip] Prepare release 0.9.1
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.9.2-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Ensure more annotations are sorted
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
Due: Processor core

Ensure more annotations are sorted (#179)
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/mirrorhandlers/ToPrettierAnnotationSpec.java
Due: Processor core

Make dependabot have a cooldown
  .github/dependabot.yml
Due: none

Drop Java 21 support
  .github/workflows/build.yml
  github_build.sh
  pom.xml
Due: none

Attempt to enforce processing order
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/ElementComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/SupportedAnnotations.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/SupportedAnnotationsFactory.java
Due: Processor core

Address PR comments
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/ElementComparator.java
Due: Processor core

Attempt to enforce processing order (#182)
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/AdvRecUtilsProcessor.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/UtilsProcessingContext.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/artifacts/sorting/ElementComparator.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/SupportedAnnotations.java
  aru-processor-core/src/main/java/io/github/cbarlin/aru/core/factories/SupportedAnnotationsFactory.java
Due: Processor core

[ci skip] Prepare release 0.10.0
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-annotations/src/main/java/io/github/cbarlin/aru/annotations/AdvancedRecordUtilsGenerated.java
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

[ci skip] Prepare for next development iteration (0.10.1-SNAPSHOT)
  advanced-record-utils-annotations/pom.xml
  advanced-record-utils-processor/pom.xml
  aru-prism-prison/pom.xml
  aru-processor-core/pom.xml
  pom.xml
  utils-tests/a_core_dependency/pom.xml
  utils-tests/a_core_dependent/pom.xml
  utils-tests/b_infer_xml/pom.xml
  utils-tests/b_type_alias/pom.xml
  utils-tests/c_deeply_nested_commons_lang/pom.xml
  utils-tests/c_deeply_nested_structure/pom.xml
  utils-tests/c_hkj/pom.xml
  utils-tests/c_odd_types/pom.xml
  utils-tests/d_eclipse_collections/pom.xml
  utils-tests/pom.xml
  utils-tests/xml_util/pom.xml
  z_report_module/pom.xml
Due: Processor core, Processor Implementation, Test - core dependency, Test - infer XML, Test - type alias, Test - odd types, Test - commons lang, Test - deeply nested structure, Test - Eclipse Collections, Test - core dependent

Optimise XML tag/namespace calculation
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/ToXmlMethod.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
Due: Processor Implementation

PR Feedback, trim unneeded imports
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/ToXmlMethod.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  docs/generated-code/usage/xml.adoc
Due: Processor Implementation

Optimise XML tag/namespace calculation (#187)
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/ToXmlMethod.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/iface/WriteIfaceToXml.java
  advanced-record-utils-processor/src/main/java/io/github/cbarlin/aru/impl/xml/utils/WriteStaticToXml.java
  docs/generated-code/usage/xml.adoc
Due: Processor Implementation

Path conditions:
  Processor core: any of: aru-processor-core/**
  Processor Implementation: any of: advanced-record-utils-processor/**
  Test - core dependency: any of: utils-tests/a_core_dependency/**
  Test - infer XML: any of: utils-tests/b_infer_xml/**
  Test - type alias: any of: utils-tests/b_type_alias/**
  Test - odd types: any of: utils-tests/c_odd_types/**
  Test - commons lang: any of: utils-tests/c_deeply_nested_commons_lang/**
  Test - deeply nested structure: any of: utils-tests/c_deeply_nested_structure/**
  Test - Eclipse Collections: any of: utils-tests/d_eclipse_collections/**
  Test - core dependent: any of: utils-tests/a_core_dependent/**
